$moderate-violet: hsl(263, 55%, 52%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);

$light-gray: hsl(0, 0%, 81%);
$light-gray5: hsla(0, 0%, 81%, 0.5);
$light-gray7: hsla(0, 0%, 81%, 0.7);

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-grayish-blue5: hsla(217, 19%, 35%, 0.5);
$very-dark-grayish-blue7: hsla(217, 19%, 35%, 0.7);
